
*.sln
*.user
*.filters
*.opendb
*.db
Atypical-markless-AR/.vs/Atypical-markless-AR/v15/.suo
*.ipch
*.tlog
*.obj
*.pdb
*.autopkg
*.txt
*.h
*.lib
*.nupkg
*.targets
*.dll
*.exe
*.ilk
*.idb
*.log
*.jpg
*.xml
